In [15]:
import pandas as pd

In [16]:
# Задание 1 Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому
# фильму было выставлено больше всего оценок 5.0.

In [17]:
%%time
# join
def get_first_one_movie(movies_file, rating_file, rating):
    return pd.read_csv(movies_file).set_index('movieId').join(pd.read_csv(rating_file).set_index('movieId'), on='movieId', how='right').query(f'rating == {rating}').groupby('title').count().sort_values('rating', ascending=False).head(1).index[0]

print(get_first_one_movie('movies.csv', 'ratings.csv', 5))
print(get_first_one_movie('movies.csv', 'ratings.csv', 4))

Shawshank Redemption, The (1994)
Jurassic Park (1993)
CPU times: user 230 ms, sys: 94.9 ms, total: 325 ms
Wall time: 356 ms

In [18]:
%%time
# merge
def get_first_one_movie(movies_file, rating_file, rating):
    return pd.merge(pd.read_csv(movies_file), pd.read_csv(rating_file), on=['movieId'], how='right').query(f'rating == {rating}').groupby('title').count().sort_values('rating', ascending=False).head(1).index[0]

print(get_first_one_movie('movies.csv', 'ratings.csv', 5))
print(get_first_one_movie('movies.csv', 'ratings.csv', 4))

Shawshank Redemption, The (1994)
Jurassic Park (1993)
CPU times: user 202 ms, sys: 55 ms, total: 257 ms
Wall time: 267 ms

In [19]:
%%time
# another type of query (filter)
def get_first_one_movie(movies_file, rating_file, rating):
    data_frame = pd.read_csv(movies_file).set_index('movieId').join(pd.read_csv(rating_file).set_index('movieId'), on='movieId', how='right')
    return data_frame[data_frame['rating'] == rating].groupby('title').count().sort_values('rating', ascending=False).head(1).index[0]

print(get_first_one_movie('movies.csv', 'ratings.csv', 5))
print(get_first_one_movie('movies.csv', 'ratings.csv', 4))

Shawshank Redemption, The (1994)
Jurassic Park (1993)
CPU times: user 329 ms, sys: 84.2 ms, total: 413 ms
Wall time: 466 ms

In [20]:
%%time
# another type of query (filter) and merger
def get_first_one_movie(movies_file, rating_file, rating):
    data_frame = pd.merge(pd.read_csv(movies_file), pd.read_csv(rating_file), on=['movieId'], how='right')
    return data_frame[data_frame['rating'] == rating].groupby('title').count().sort_values('rating', ascending=False).head(1).index[0]

print(get_first_one_movie('movies.csv', 'ratings.csv', 5))
print(get_first_one_movie('movies.csv', 'ratings.csv', 4))

Shawshank Redemption, The (1994)
Jurassic Park (1993)
CPU times: user 239 ms, sys: 60.9 ms, total: 300 ms
Wall time: 306 ms

In [21]:
# Задание 2 По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
# категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [22]:
%%time
def get_sum_power_consumption_baltic(power_file, year_min, year_max):
    power = pd.read_csv(power_file)
    return power[(power['country'].str.contains("lat|lit|eston", case=False)) & (power['year'] >= year_min) & (power['year'] <= year_max) & (power['quantity'] >= 0)].agg({'quantity': ['sum']})

get_sum_power_consumption_baltic('power.csv', 2005, 2010)

CPU times: user 1.75 s, sys: 106 ms, total: 1.85 s
Wall time: 1.91 s

         quantity
sum  2.603425e+07

In [23]:
%%time
# another type of filter
def get_sum_power_consumption_baltic(power_file, year_min, year_max):
    power = pd.read_csv(power_file)
    return power[(power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) & (power['year'] >= year_min) & (power['year'] <= year_max) & (power['quantity'] >= 0)].agg({'quantity': ['sum']})

get_sum_power_consumption_baltic('power.csv', 2005, 2010)

CPU times: user 460 ms, sys: 93.8 ms, total: 554 ms
Wall time: 566 ms

         quantity
sum  2.603425e+07

In [24]:
%%time
# another type of aggragation
def get_sum_power_consumption_baltic(power_file, year_min, year_max):
    power = pd.read_csv(power_file)
    return power[(power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) & (power['year'] >= year_min) & (power['year'] <= year_max) & (power['quantity'] >= 0)]['quantity'].sum()

get_sum_power_consumption_baltic('power.csv', 2005, 2010)

CPU times: user 477 ms, sys: 87.8 ms, total: 565 ms
Wall time: 579 ms

26034247.620774537

In [25]:
# Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти):
# https://fortrader.org/quotes
# https://www.finanz.ru/valyuty/v-realnom-vremeni

In [26]:
url = 'https://en.wikipedia.org/wiki/Python_(programming_language)'
df = pd.read_html(url, attrs = {'class': 'wikitable'}, encoding='utf-8')
df[0]

,Type,Mutability,Description,Syntax examples
0,bool,immutable,Boolean value,TrueFalse
1,bytearray,mutable,Sequence of bytes,"bytearray(b'Some ASCII')bytearray(b""Some ASCII..."
2,bytes,immutable,Sequence of bytes,"b'Some ASCII'b""Some ASCII""bytes([119, 105, 107..."
3,complex,immutable,Complex number with real and imaginary parts,3+2.7j
4,dict,mutable,Associative array (or dictionary) of key and v...,"{'key1': 1.0, 3: False}{}"
5,ellipsisa,immutable,An ellipsis placeholder to be used as an index...,...Ellipsis
6,float,immutable,Double precision floating point number. The pr...,1.414
7,frozenset,immutable,"Unordered set, contains no duplicates; can con...","frozenset([4.0, 'string', True])"
8,int,immutable,Integer of unlimited magnitude[88],42
9,list,mutable,"List, can contain mixed types","[4.0, 'string', True][]"
10,NoneTypea,immutable,"An object representing the absence of a value,...",None
11,NotImplementedTypea,immutable,A placeholder that can be returned from overlo...,NotImplemented
12,range,immutable,A Sequence of numbers commonly used for loopin...,"range(1, 10)range(10, -5, -2)"
13,set,mutable,"Unordered set, contains no duplicates; can con...","{4.0, 'string', True}set()"
14,str,immutable,A character string: sequence of Unicode codepo...,"'Wikipedia'""Wikipedia""""""""Spanning multiple lin..."
15,tuple,immutable,Can contain mixed types,"(4.0, 'string', True)('single element',)()"